aiofiles           23.1.0
aiohttp            3.8.4
aiosignal          1.3.1
async-timeout      4.0.2
attrs              23.1.0
charset-normalizer 3.2.0
frozenlist         1.3.3
idna               3.4
multidict          6.0.4
mypy               1.4.1
mypy-extensions    1.0.0
pip                23.1.2
pycodestyle        2.10.0
setuptools         59.6.0
tomli              2.0.1
typing_extensions  4.7.1
yarl               1.9.2
requests           2.26.0
```
